<poke-header></poke-header>

<main>
  <ng-template [ngIf]="isLoading">
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h1 class="display-3">{{pokemon.object.name}}</h1>
              <p class="poke-description">
                {{pokemon.object.description}}
              </p>
    
              <h3>Informations</h3>
    
              <ol>
                <li class="status-li">
                  Initial: <i *ngIf="pokemon.object.isStarter" class="bi bi-check-circle-fill text-success">OK</i>
                          <i *ngIf="!pokemon.object.isStarter" class="bi bi-x-circle-fill text-danger">X</i>
                </li>
                <li class="status-li">
                  Legendary: <i *ngIf="pokemon.object.isLegendary" class="bi bi-check-circle-fill text-success">OK</i>
                             <i *ngIf="!pokemon.object.isLegendary" class="bi bi-x-circle-fill text-danger">X</i>
                </li>
                <li class="status-li">
                  Mythical: <i *ngIf="pokemon.object.isMythical" class="bi bi-check-circle-fill text-success">OK</i>
                            <i *ngIf="!pokemon.object.isMythical" class="bi bi-x-circle-fill text-danger">X</i>
                </li>
                <li class="status-li">
                  UltraBeast: <i *ngIf="pokemon.object.isUltraBeast" class="bi bi-check-circle-fill text-success">OK</i>
                              <i *ngIf="!pokemon.object.isUltraBeast" class="bi bi-x-circle-fill text-danger">X</i>
                </li>
                <li class="status-li">
                  Mega: <i *ngIf="pokemon.object.isMega" class="bi bi-check-circle-fill text-success">OK</i>
                        <i *ngIf="!pokemon.object.isMega" class="bi bi-x-circle-fill text-danger">X</i>
                </li>
    
                <li [ngClass]="{'true': pokemon.object.evolutionLine, 'false': !pokemon.object.evolutionLine}">
                  Stage Evolutions:
                  <br>
    
                  <a [href]="'http://localhost:4200/details/'+ evolutionLine[0].object.pokedexNumber" >
                    <img [src]="evolutionLine[0].object.urlImage" class="img-small">
                  </a>
    
                  <a [href]="'http://localhost:4200/details/'+ evolutionLine[1].object.pokedexNumber" class="img-evolution">
                    <img [src]="evolutionLine[1].object.urlImage" class="img-small">
                  </a>
    
                  <a [href]="'http://localhost:4200/details/'+ evolutionLine[2].object.pokedexNumber" class="img-evolution">
                    <img [src]="evolutionLine[2].object.urlImage"  class="img-small">
                  </a>
    
                </li>
              </ol>
            </div>
          </div>
          <div class="col-md-6 d-none d-md-block">
            <img [src]="pokemon.object.urlImage" [alt]="pokemon.object.urlImage" class="img-fluid">
          </div>
          <a [routerLink]="'/' + 'pokedex' + '/'" class="btn btn-danger">Voltar</a>
        </div>
      </div>
    </section>
  </ng-template>
</main>