<a class="pokemon">
    <section class="pokemon__status">
        <h2>
            Bulbassaur
        </h2>

        <ul>
            <li>Type 1</li>
            <li>Type 2</li>
        </ul>
    </section>

    <section class="pokemon__image"> 
        <img src="assets/001.png">
    </section>
</a>

<a class="pokemon">
    <section class="pokemon__status">
        <h2>
            Bulbassaur
        </h2>

        <ul>
            <li>Type 1</li>
            <li>Type 2</li>
        </ul>
    </section>

    <section class="pokemon__image"> 
        <img src="assets/001.png">
    </section>
</a>