<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons"> 
<a class="pokemon">
    <section class="pokemon__status">
        <h2>
            {{ pokemon.name }} {{ pokemon.pokedexNumber }}
        </h2>
        <ul>
            <li>
                {{ pokemon.type[0] }}
            </li>
            <li>
                {{ pokemon.type[1] }}
            </li>
        </ul>
    </section>

    <section class="pokemon__image"> 
        <img [src]= pokemon.urlImage [alt]=pokemon.name>
    </section>
</a>
</ng-template>
