
.custom-image {
    width: 676px; /* Defina a largura desejada */
    height: auto; /* Manter a proporção da imagem */
}

.filter {
    a {
        margin-right: 1%;
    }

}

p{
    font-size: 20px;
}

body{
    background-color: #ffc107;
}

#home {
	background: #ffc107;
	color: rgb(255, 255, 255);
}

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}