<poke-header></poke-header>

<body>

    <section id="home">

        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="align-self-center">
                        <h1 class="display-4">Sobre o Projeto</h1>
                        <p>
                            O RotomDex faz parte de um conjunto de três projetos que foram desenvolvidos para a
                            avaliação final
                            da
                            Academia de .NET 2023, que é um programa de formação de Desenvolvedores de software da Atos
                            (<a href="https://atos.net/pt-br/brasil-atos" target="_blank">Atos</a>)
                            ministrado pelos professores da Universidade Franciscana (UFN) (<a
                                href="https://www.ufn.edu.br/site/" target="_blank">UFN</a>),
                            nesse link você pode vizualisar o gitHub
                            da Academia .NET 2023 e encontrar todo o conteúdo que foi ministrado (<a
                                href="https://github.com/Ernakh/academia_AtosUFN_DotNet_4" target="_blank">Academia
                                .NET</a>)
                            Para este projeto final, foram desenvolvidas 3 aplicações (Front-End,
                            Back-End e um Bot), o Bot foi feito para monitorar os outros dois projetos (Front-End e
                            Back-End) e
                            também os serviços utilizados pelo back-end, caso algo não esteja funcionando corretamente
                            com os
                            serviços ou projetos, um email é disparado pelo bot informando o administrador do sistema.

                        </p>

                        <h2>
                            Visite os repositórios dos projetos e as redes sociais do desenvolvedor
                        </h2>

                        <section class="filter">
                            <h4>Repositórios</h4>
                            <a href="https://github.com/isaque14/Pokedex-FrontEnd/tree/main" target="_blank"
                                class="btn-spacer" class="btn btn-primary mr-2 ml-2 mb-4">Front-End</a>
                            <a href="https://github.com/isaque14/pokedex/tree/main" target="_blank" class="btn-spacer"
                                class="btn btn-primary mr-2 ml-2 mb-4">Back-End</a>
                            <a href="https://github.com/isaque14/RotomDex" target="_blank" class="btn-spacer"
                                class="btn btn-primary mr-2 ml-2 mb-4">Bot</a>

                            <h4>Redes Sociais de Isaque Diniz</h4>
                            <a href="https://github.com/isaque14" target="_blank" class="btn-spacer"
                                class="btn btn-primary mr-2 ml-2 mb-4">GitHub</a>
                            <a href="https://www.linkedin.com/in/isaque-diniz-da-silva-a0773459/" target="_blank"
                                class="btn-spacer" class="btn btn-primary mr-2 ml-2 mb-4">Linkdin</a>
                        </section>

                    </div>
                </div>

                <div class="col-md-6 d-none d-md-block">
                    <img src="../../../assets/atos.png" class="custom-image">
                </div>
            </div>
        </div>

    </section>
</body>