<poke-header></poke-header>

<section style="background-color: #eee;">

    <section id="home">

        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="align-self-center">
                        <h1 class="display-5">O RotomDex invadiu os servidores do chat-GPT</h1>
                        <p>
                            Faça uma pergunta sobre o mundo pokémon e veja do que o RotomDex é capaz
                        </p>

                    </div>
                </div>

                <div class="col-md-6 d-none d-md-block">
                    <img src="../../../assets/rotomGpt.png">
                </div>

            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Faça uma pergunta:</h3>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <input placeholder="Digite o que deseja saber" formControlName="request"
                        class="form-control bg-secondary text-white area-pergunta">

                    <button type="submit" class="btn btn-primary">Enviar</button>

                    <h3>Resposta:</h3>
                    <input formControlName="response" class="form-control bg-secondary text-white area-pergunta"
                        readonly>

                </form>


            </div>
        </div>

    </section>

</section>