.back-color{
    background-color: #ffffff6b;
}

.area-pergunta {
    resize: none; /* Impede a redimensionalidade */
    height: 200px; /* Altura desejada */
    width: 200%; /* Largura desejada */
    align-items: flex-start;
  }
