.back-color{
    background-color: #ffffff6b;
}

textarea {
    resize: none; /* Impede a redimensionalidade */
    height: 200px; /* Altura desejada */
    width: 300%; /* Largura desejada */
    align-items: flex-start;
  }