<poke-header></poke-header>

<main>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input formControlName="name" type="text" id="form6Example1" class="form-control" />
                    <label class="form-label" for="form6Example1">Nome</label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input formControlName="number" type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Número na Pokedex</label>
                </div>
            </div>
            
            <div class="col">
                <div class="form-outline">
                    <input formControlName="type1" type="text" id="form6Example1" class="form-control" />
                    <label class="form-label" for="form6Example1">Tipo 1</label>
                </div>

                <div class="col">
                    <div class="form-outline">
                        <input formControlName="type2" type="text" id="form6Example1" class="form-control" />
                        <label class="form-label" for="form6Example1">Tipo 2 (Opcional)</label>
                    </div>
                </div>
            </div>

            <!-- <div>
                <select id="textSelect" class="select " style="display: inline;">
                    <option value="">Tipo 1</option>
                    <option *ngFor="let tipo of tiposPokemon" [value]="tipo.id">{{ tipo.nome }}</option>
                </select>

                <select id="textSelect" class="select" style="display: inline;">
                    <option value="">Tipo 2</option>
                    <option *ngFor="let tipo of tiposPokemon" [value]="tipo.id">{{ tipo.nome }}</option>
                </select>
            </div> -->

        </div>

        <!-- <div class="row">
            <div class="col">
                <section>
                    <label class="form-check-label">É um Pokémon Inicial?</label>
                    
                    <div class="form-check">
                        <input  class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1" />
                        <label formControlName="initial" class="form-check-label" for="flexRadioDefault1">Sim</label>
                    </div>

                    
                    <div class="form-check">
                        <input formControlName="initial" class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2"
                            checked />
                        <label class="form-check-label" for="flexRadioDefault2">Não</label>
                    </div>
                </section>
            </div>

            <div class="col">
                <section>
                    <label class="form-check-label">É Lendário?</label>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" />
                        <label class="form-check-label" for="flexRadioDefault3">Sim</label>
                    </div>

                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4"
                            checked />
                        <label class="form-check-label" for="flexRadioDefault4">Não</label>
                    </div>
                </section>
            </div>

            <div class="col">
                <section>
                    <label class="form-check-label">É Mítico?</label>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault5" />
                        <label class="form-check-label" for="flexRadioDefault5">Sim</label>
                    </div>

                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault6"
                            checked />
                        <label class="form-check-label" for="flexRadioDefault6">Não</label>
                    </div>
                </section>
            </div>
        </div> -->



        <!-- Text input -->
        <div class="form-outline mb-4">
            <input formControlName="urlImage" type="text" id="form6Example3" class="form-control" />
            <label class="form-label" for="form6Example3">URL da imagem</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea formControlName="description" class="form-control" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Descrição</label>
        </div>

        <button type="submit" class="btn btn-success mb-4 mr-2">OK</button>
        <a href='researcher' class="btn btn-danger mb-4">CANCELAR</a>

    </form>
</main>