<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
        <div class="container">
            <a href='' class="navbar-brand">
                <img src="../../../assets/rotomLogo.png" width="142">
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                <span class="navbar-toggler-icon">

                </span>
            </button>

            <div class="collapse navbar navbar-collapse" id="nav-principal">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href='' class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href='pokedex' class="nav-link">Pokedex</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Rotom-GPT</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="btn btn-outline-light ml-4">Entrar</a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>
</header> <!--Fim Cabeçalho-->






<!-- <header id="area-cabecalho">

    <div id="area-logo">
        <img src="../../../assets/rotomLogo.png" alt="Logo rotom" class="logo">
        <h1 class="name-site">RotomDex</h1>
    </div>

    <nav class="area-menu">
        <ul>
            <li><a href=''>HOME</a></li>
            <li><a href='pokedex'>POKEDEX</a></li>
            <li><a href="galeria.html">SOBRE</a></li>
            <li><a href="galeria.html">ROTOM-GPT</a></li>
            <li><a href="contato.html" class="active">CONTATO</a></li>
        </ul>
    </nav>

</header> -->