<header id="area-cabecalho">

    <div id="area-logo">
        <img src="assets/rotondex.png" alt="Logo rotom" class="logo">
        <h1 class="name-site">RotomDex</h1>
    </div>

    <nav class="area-menu">
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="sobre.html">POKEDEX</a></li>
            <li><a href="galeria.html">SOBRE</a></li>
            <li><a href="galeria.html">ROTOM-GPT</a></li>
            <li><a href="contato.html" class="active">CONTATO</a></li>
        </ul>
    </nav>

</header>