@import '../../../config-scss/rem-calc.scss';

:host {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    form label {
        display: block;
        margin-bottom: 5px;
    }

    form input,
    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    a.button {
        display: inline-block;
        background-color: #f54e4e;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }

    a.button:hover {
        background-color: #f54e4e;
    }

    #area-cabecalho {
        background-color: #333;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #area-logo h1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px;
        background-color: #f54e4e;
        border-radius: 5px;
    }

    #area-menu {
        display: flex;
    }

    #area-menu a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
        border-bottom: 2px solid transparent;
    }

    #area-menu a:hover,
    #area-menu a.active {
        border-bottom: 2px solid #fff;
    }

    .name-site {
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px;
        background-color: #f54e4e;
        border-radius: 5px;
    }


    .logo {
        width: 90px;
        padding-top: -260;
        padding-left: 30px;
        height: auto;
    }
}
