<poke-header></poke-header>

<body>
   
    <section id="home"> <!--Início Seção-->

        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex"> <!--Início Textos da Seção-->
                    <div class="align-self-center">
                        <h1 class="display-4">O Mundo Pokémon é mais legal com o RotomDex</h1>
                        <p>Com o RotomDex você tem acesso à todos os pokémons existentes.
                            Caso seja um pesquisador você pode adicionar suas novas descobertas de espécies ao RotomDex
                        </p>

                        <p>Disponível para
                            <a href="" class="btn btn-outline-light">
                                <i class="fab fa-android fa-lg"></i>
                            </a>
                            <a href="" class="btn btn-outline-light">
                                <i class="fab fa-apple fa-lg"></i>
                            </a>
                        </p>

                    </div>
                </div> <!--Fim textos da Seção-->

                <div class="col-md-6 d-none d-md-block">
                    <img src="../../../assets/rotom1.png">
                </div>

            </div>
        </div>

    </section> <!--Fim Seção Home-->

    <section class="caixa"> <!--Seção Saiba Mais-->
        <div class="container">
            <div class="row">

                <div class="col-md-6 d-flex">
                    <div class="align-self-center">
                        <h2>O RotomDex Invadiu os Servidores do ChatGPT</h2>
                        <p>O Rotom é um pokémon com a habilidade de possuir objetos eletronicos,
                            nosso querido RotomDex fez a traquinagem de entrar nos servidores do ChatGPT,
                            agoa ele sabe tudo sobre o mundo pokémon, venha conferir!!!
                        </p>
                        <a href="" class="btn btn-primary">Conversar com o RotomDex</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="../../../assets/chatGpt.png" class="img-fluid">
                </div>

            </div>
        </div>
    </section> <!--Fim Seção Saiba Mais-->

    <section class="caixa">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img src="../../../assets/pokedex.webp" class="img-fluid">
                </div>

                <div class="col-md-6 d-flex">
                    <div class="align-self-center">
                        <h2>Pokedex</h2>
                        <p>Confira a Pokedex e veja como é vasto o mundo Pokémon</p>
                        <a href='pokedex/' class="btn btn-primary">Veja mais</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-md-6 d-flex">
                <div class="align-self-center">
                    <h2>Área do Pesquisador</h2>
                    <p>É um pesquisador Pokémon? Dadastre-se ou entre com sua conta para
                        catalogar suas descobertas.
                    </p>
                    <a href="" class="btn btn-primary">Conversar com o RotomDex</a>
                </div>
            </div>

            <div class="col-md-6">
                <img src="../../../assets/willow.png" class="img-fluid">
            </div>

        </div>
    </div>

    <footer class="mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <a href="">Home</a>
                        <a href="">Recursos</a>
                        <a href="">Benefícios</a>
                        <a href="">Preços</a>
                    </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <a href="" class="btn btn-outline-dark">
                        <i class="fab fa-facebook"></i>
                    </a>

                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-youtube"></i>
                    </a>

                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-whatsapp"></i>
                    </a>

                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-twitter"></i>
                    </a>

                </div>
            </div>
        </div>

    </footer>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>




















<!-- 
<main id="area-principal">

    <section id="area-do-site">
        <h2>Conheça o RotomDex</h2>
        <p class="page-description">Aqui você pode criar novos Pokémons e regiões. Além disso, o Pokémon Rotomdex está
            possuindo uma inteligência artificial da internet.</p>

       
        <div id="area-postagens">
            <h2>Veja Os principais destaques sobre tecnologia</h2>

        
            <div class="postagem">
                <h2>Bill Gates: IA ensinará crianças a ler e escrever</h2>
                <img width="620px" src="imagens/billgates.webp">
                <p>O cofundador da Microsoft disse que, nos próximos 18 meses, as inteligências artificiais ajudarão
                    no aprendizado de redação e matemática</p>
                <a
                    href="https://olhardigital.com.br/2023/04/26/pro/bill-gates-ia-ensinara-criancas-a-ler-e-escrever/">Leia
                    mais</a>

            </div>
        </div> 
    </section>
</main>  -->