<main>

    <section class="page-container">
        <nav class="page-links">
            <a routerLink="/sobre">Sobre</a>
            <a routerLink="/pokedex">Pokedex</a>
            <a routerLink="/rotomgpt">RotomGPT</a>
            <a routerLink="/login">Login</a>
        </nav>

        <h1 class="page-title">Bem-vindo à RotomDex</h1>
        <p class="page-description">Aqui você pode criar novos Pokémons e regiões. Além disso, o Pokémon Rotomdex está
            possuindo uma inteligência artificial da internet.</p>
    </section>

</main>