@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primaryColor);
}

main{
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}